$font-family-Open-Sans: "Open Sans", sans-serif;

$font-size-large: 2.7rem;
$font-size-primary: 2rem;
$font-size-small: 1.5rem;
$font-size-xsmall: 1.2rem;

$space-small: 2rem;
$space-large: 4rem;

$font-weight-bold: 700;
$font-weight-primary: 500;
$font-weight-slim: 300;